doctype html
html(lang='en')
 head
   title Having fun with pug
 body
   .container
    .navbar
      ul
        li.active
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Contact
    .content
      .col-1
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus turpis ligula, quis malesuada elit suscipit quis. Mauris ut vehicula nisl. Cras vel purus luctus, blandit mi vitae, pharetra mauris. Proin eget lacinia tortor. Vivamus venenatis nisi tincidunt velit interdum maximus. Integer dapibus magna ut dolor consequat pulvinar. Aliquam et ornare odio. Donec vel nulla nec nisl mattis maximus. Integer ut quam eget purus ullamcorper fermentum. In ullamcorper pretium mi, ultricies accumsan metus mollis et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        p Proin eget elit ut risus facilisis placerat in laoreet sem. Nulla eleifend libero ut ornare tempus. Cras sagittis blandit cursus. Nullam augue diam, consectetur a tempor et, porttitor nec urna. Aliquam congue pretium felis et hendrerit. Nulla facilisi. Aliquam aliquam urna vestibulum dolor convallis pellentesque. Proin a sem ut ante fermentum placerat at ut libero. Integer quam eros, volutpat et viverra sed, mattis nec dui. In rutrum aliquet lorem. Aliquam malesuada elit a ante egestas feugiat.

        p Praesent diam arcu, feugiat ut ligula at, tristique tincidunt magna. Nullam vitae porta tellus. Aenean porta neque in sapien eleifend tincidunt. Proin vitae arcu felis. Etiam vitae mi quam. Suspendisse aliquet vehicula lacus quis imperdiet. Fusce vestibulum tortor et metus commodo ultricies. Nunc commodo erat non mi viverra, eget aliquam neque tristique. Integer pellentesque tortor ac risus maximus, et convallis enim hendrerit. Aliquam condimentum tempor suscipit. Nunc scelerisque arcu non nisl porttitor rhoncus. Mauris hendrerit sagittis mi, quis ultrices elit auctor sit amet.p Duis elementum ante vitae aliquet ultrices. Donec vestibulum, tortor ut ultricies aliquam, mauris sem interdum enim, eu venenatis felis ligula sit amet dui. Fusce interdum hendrerit orci, sed vestibulum eros pharetra et. Vestibulum rhoncus urna et mauris fermentum ultrices. Nam non magna ac leo facilisis condimentum. Suspendisse vehicula est nec mauris malesuada, ac dapibus orci cursus. Etiam eget ipsum nec felis posuere ullamcorper quis in magna. Vivamus posuere a arcu eget dapibus. Integer et aliquet quam.
      .col-2
