@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");

$primary-color: #faedcd;
$secondary-color: #d4a373;
$tertiary-color: #fefae0;
$body-color: #54412d;
$body-gray: #544d47;

:root {
  --body-font: "Roboto", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --italic-font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--body-font);
  padding: 2em;
  width: 100%;
  color: $body-color;
  font-weight: 300;
  background-color: $tertiary-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Layout */

body {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    padding: 0;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 0 1rem;
}

/* Underline styles */
a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

/* Fade */
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1em;
  width: 100%;
  background-color: $body-color;
  transition: opacity 0.3s, transform 0.3s ease-in-out;
  opacity: 0;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.container {
  max-width: 1100px;
  border-radius: 4px;
  max-height: 680px;
  min-height: 75vh;
  min-width: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: $primary-color;
  padding: 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  justify-content: center;

  @media (max-width: 480px) {
    height: 100%;
    max-height: 100%;
  }
}

.navbar {
  font-family: var(--title-font);
  list-style: none;
  display: inline-flex;
  font-weight: 700;

  > ul {
    width: 100%;
  }
}
